@using NonFactors.Mvc.Grid
@model IEnumerable<Agape316.Data.MealSchedule>

<style>
    tr.mvc-grid-headers {
        text-align: center;
    }
    td {
        font-size: small !important;
        vertical-align: text-top !important;
    }
</style>
<div class="row">
    <div class="col-md-12">       
        @if (Model.Any())
        {
            @(
                Html
                .Grid(Model)
                .Build(columns =>
                {
                    columns.Add(model => @Html.Raw(model.Created.ToShortDateString())).Titled("Date Created");
                    columns.Add(model => @Html.Raw(model.Title)).Titled("Title");
                    columns.Add(model => @Html.Raw(model.Description)).Titled("Description");                                        
                    columns.Add(model => @Html.Raw(model.CoordinatorProfileLink)).Titled("Coordinator");
                    columns.Add(model => @Html.Raw(model.CoordEmail)).Titled("Coordinator Email");
                    columns.Add(model => @Html.Raw(model.CoordPhone)).Titled("Coordinator Phone");
                    columns.Add(model => @Html.Raw(model.RecipientFullName)).Titled("Recipient Name");
                    columns.Add(model => @Html.Raw(model.RecipientInfo)).Titled("Recipient Info");
                    columns.Add(model => @Html.Raw($"{model.StartDate.ToShortDateString()}-{model.EndDate.ToShortDateString()}")).Titled("Starts/Ends");
                    columns.Add(model => @Html.Raw(model.RecipientMealSchedule)).Titled("Meal Schedule");
                    columns.Add(model => @Html.Raw(model.FoodAllergies)).Titled("Food Allergies");
                    columns.Add(model => @Html.Raw(model.Notes)).Titled("Notes");
                    columns.Add(model => @Html.Raw(model.EditLink)).Titled("Edit").Css("edit-event");
                    columns.Add(model => @Html.Raw(model.Id)).Hidden();
                })
                .Empty("No data found")
                .Pageable(pager =>
                {
                    pager.RowsPerPage = 6;
                })
            )
        }
        else
        {
            <div class="noPosts">
                <i class="material-icons md-72">question_answer</i>
                <h3>
                No Meal Schedules have been created yet. <br />
                </h3>
            </div>
        }
    </div>    
</div>
<script>
    function EditMealSchedule(id) {
        event.preventDefault();
        $.ajax({
            type: "GET",            
            url: "/MealSchedule/OnGetCallMealScheduleViewComponent",
            data: { "id": id },
            success: function (response) {
                $("#scheduleMealsModal").find(".modal-body").html(response);
                $("#scheduleMealsModal").modal('show');
            },
            failure: function (response) {
                alert('Get Meal Schedule details failed');
            },
            error: function (response) {
                alert('Error getting Meal Schedule details');
            }
        });        
    }
</script>