@model Agape316.Models.EventDishModel
@using Agape316.Data

@{
    var allEvents = ViewData["AgapeEventObjects"] as List<Event>;
    var selectedEvent = ViewData["SelectedAgapeEvent"] as Event;
    var selectedEventDate = string.Empty;
    if (selectedEvent == null)
    {
        selectedEvent = new Event();       
    }
    else
    {
        selectedEventDate = selectedEvent.EventDate.ToShortDateString();
    }
}
<div class="row">
    <div class="col-md-12">
        <form asp-controller="EventDish" asp-action="AddEditEventDish" method="post" id="eventDishForm" enctype="multipart/form-data">
            <div class="form-group">
                <label>Events</label>         
                @Html.DropDownListFor(m => m.EventId, (IEnumerable<SelectListItem>)ViewData["AgapeEvents"], "Please select", new { @onchange = "GetSelectedEvent(this)" })
                <br />
                @Html.ValidationMessageFor(m => m.EventId, "", new { @class = "text-danger" })
            </div>
            <div class="container" id="eventContainer" style="display:none;">
                 <div class="row mt-2">
                    <div class="col-sm-6">
                        <div class="form-group form-group-small">
                            <label>@selectedEvent.Title</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group form-group-small">
                            <label>@selectedEvent.Description</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group form-group-small">
                            <label>@selectedEvent.Location</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group form-group-small">
                            <label>@selectedEventDate @selectedEvent.StartTime - @selectedEvent.EndTime</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group form-group-small">
                            <label>@selectedEvent.ContactEmail</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group form-group-small">
                            <label>@Model.GetCategoryName(selectedEvent.CategoryId)</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group form-group-small">
                            <label>Sandwich Slots: @selectedEvent.SandwichSlots</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group form-group-small">
                            <label>Side Dish Slots: @selectedEvent.SideDishSlots</label>
                        </div>
                    </div>                    
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group form-group-small">
                            <label>Main Dish Slots: @selectedEvent.MainDishSlots</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group form-group-small">
                            <label>Dessert Slots: @selectedEvent.DessertSlots</label>
                        </div>
                    </div>                                   
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group form-group-small">
                            <label>Set Up Slots: @selectedEvent.SetUpSlots</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group form-group-small">
                            <label>Serve Slots: @selectedEvent.ServeSlots</label>
                        </div>
                    </div>                                  
                </div>
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <div class="form-group form-group-small">
                            <label>Clean Up Slots: @selectedEvent.CleanUpSlots</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group form-group-small">
                            <label>&nbsp;</label>
                        </div>
                    </div>                    
                </div>
            </div>            
            <div class="form-group">
                <label asp-for="Title">Title</label>
                <input asp-for="Title" class="form-control" placeholder="Dish name" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description">Description</label>
                <input asp-for="Description" class="form-control" placeholder="Dish description">
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <label asp-for="ContactEmail">Email</label>
                <input asp-for="ContactEmail" class="form-control" placeholder="Contact Email" />
                <span asp-validation-for="ContactEmail" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <label asp-for="Category">Category</label>
                <input asp-for="Category" readonly class="form-control" placeholder="" value="@Model.GetCategoryName(selectedEvent.CategoryId)" />
            </div>           
            <div class="form-group my-2">
                <div class="row">
                    <div class="col-md-6">
                        <label class="label-slots-2" asp-for="SandwichSlot">Sandwich</label>
                        <input asp-for="SandwichSlot" class="text-slots" min="0" step="any" type="number" onchange="CheckEventSlot(this)">
                    </div>
                    <div class="col-md-6">
                        <label class="label-slots-2" asp-for="SideDishSlot">Side Dish</label>
                        <input asp-for="SideDishSlot" class="text-slots" min="0" step="any" type="number" onchange="CheckEventSlot(this)">
                    </div>                                   
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="label-slots-2" asp-for="MainDishSlot">Main Dish</label>
                        <input asp-for="MainDishSlot" class="text-slots" min="0" step="any" type="number" onchange="CheckEventSlot(this)">
                    </div>
                    <div class="col-md-6">
                        <label class="label-slots-2" asp-for="DessertSlot">Dessert</label>
                        <input asp-for="DessertSlot" class="text-slots" min="0" step="any" type="number" onchange="CheckEventSlot(this)">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="label-slots-2" asp-for="SetUpSlot">Set Up</label>
                        <input asp-for="SetUpSlot" class="text-slots" min="0" step="any" type="number" onchange="CheckEventSlot(this)">
                    </div>
                    <div class="col-md-6">
                        <label class="label-slots-2" asp-for="ServeSlot">Serve</label>
                        <input asp-for="ServeSlot" class="text-slots" min="0" step="any" type="number" onchange="CheckEventSlot(this)">
                    </div>                   
                </div>
                <div class="row">                    
                    <div class="col-md-6">
                        <label class="label-slots-2" asp-for="CleanUpSlot">Clean Up</label>
                        <input asp-for="CleanUpSlot" class="text-slots" min="0" step="any" type="number" onchange="CheckEventSlot(this)">
                    </div>
                </div>
            </div>
            <div class="form-group my-2">
                <label asp-for="Notes">Notes</label>
                <textarea asp-for="Notes" rows="3" class="form-control" placeholder="(Special instructions, ingredients, allergies, etc.)."></textarea>
            </div>
            <div id="upload" class="form-group my-2">
                <div class="row">
                    <div class="col-md-12 text-center">                        
                        <label class="btn btn-default btn-file">
                            Select Image File <input type="file" name="Upload" style="display:none;" />
                        </label>
                    </div>                   
                </div>
                <div class="row">                   
                    <div class="col-md-12 text-center">                       
                        <button type="submit" id="eventDishSaveBtn" class="btn btn-submitEvent">Submit</button>
                    </div>
                </div>
            </div>
            <div class="form-group" style="display:none;">
                <input asp-for="Id" class="form-control" />
                <input asp-for="EventId" class="form-control" value="@selectedEvent.Id" />              
                <input asp-for="ImageUrl" class="form-control"  />
                <input asp-for="HasInvalidSlot" class="form-control" />
            </div>            
        </form>
    </div>
</div>

                        