@model Agape316.Models.EventDishModel
@using Agape316.Data

@{
    var allEvents = ViewData["AgapeEventObjects"] as List<Event>;
    var selectedEvent = ViewData["SelectedAgapeEvent"] as Event;
    int sideDishSlots = 0;
    int sandwichSlots = 0;
    int mainDishSlots = 0;
    int dessertSlots = 0;
    int setupSlots = 0;
    int serveSlots = 0;
    int cleanUpSlots = 0;
    Model.SandwichSlot = !Model.SandwichSlot.HasValue ? 0 : Model.SandwichSlot;
    Model.SideDishSlot = !Model.SideDishSlot.HasValue ? 0 : Model.SideDishSlot;
    Model.MainDishSlot = !Model.MainDishSlot.HasValue ? 0 : Model.MainDishSlot;
    Model.DessertSlot = !Model.DessertSlot.HasValue ? 0 : Model.DessertSlot;
    Model.SetUpSlot = !Model.SetUpSlot.HasValue ? 0 : Model.SetUpSlot;
    Model.ServeSlot = !Model.ServeSlot.HasValue ? 0 : Model.ServeSlot;
    Model.CleanUpSlot = !Model.CleanUpSlot.HasValue ? 0 : Model.CleanUpSlot;

    var selectedEventDate = string.Empty;    
    if (selectedEvent == null)
    {
        selectedEvent = new Event();       
    }
    else
    {
        selectedEventDate = selectedEvent.EventDate.ToShortDateString();
        selectedEvent.SandwichSlots = !selectedEvent.SandwichSlots.HasValue ? 0 : selectedEvent.SandwichSlots;
        selectedEvent.SideDishSlots = !selectedEvent.SideDishSlots.HasValue ? 0 : selectedEvent.SideDishSlots;
        selectedEvent.MainDishSlots = !selectedEvent.MainDishSlots.HasValue ? 0 : selectedEvent.MainDishSlots;
        selectedEvent.DessertSlots = !selectedEvent.DessertSlots.HasValue ? 0 : selectedEvent.DessertSlots;
        selectedEvent.SetUpSlots = !selectedEvent.SetUpSlots.HasValue ? 0 : selectedEvent.SetUpSlots;
        selectedEvent.ServeSlots = !selectedEvent.ServeSlots.HasValue ? 0 : selectedEvent.ServeSlots;
        selectedEvent.CleanUpSlots = !selectedEvent.CleanUpSlots.HasValue ? 0 : selectedEvent.CleanUpSlots;

        if (selectedEvent.SandwichSlots.Value > Model.SandwichSlot.Value)
        {
            sandwichSlots = selectedEvent.SandwichSlots.Value - Model.SandwichSlot.Value;
        }
        if (selectedEvent.SideDishSlots.Value > Model.SideDishSlot.Value)
        {
            sideDishSlots = selectedEvent.SideDishSlots.Value - Model.SideDishSlot.Value;
        }
        if (selectedEvent.MainDishSlots.Value > Model.MainDishSlot.Value)
        {
            mainDishSlots = selectedEvent.MainDishSlots.Value - Model.MainDishSlot.Value;
        }
        if (selectedEvent.DessertSlots.Value > Model.DessertSlot.Value)
        {
            dessertSlots = selectedEvent.DessertSlots.Value - Model.DessertSlot.Value;
        }
        if (selectedEvent.SetUpSlots.Value > Model.SetUpSlot.Value)
        {
            setupSlots = selectedEvent.SetUpSlots.Value - Model.SetUpSlot.Value;
        }
        if (selectedEvent.ServeSlots.Value > Model.ServeSlot.Value)
        {
            serveSlots = selectedEvent.ServeSlots.Value - Model.ServeSlot.Value;
        }
        if (selectedEvent.CleanUpSlots.Value > Model.CleanUpSlot.Value)
        {
            cleanUpSlots = selectedEvent.CleanUpSlots.Value - Model.CleanUpSlot.Value;
        }
    }
}
<style>
    .text-small {
        font-size: 10pt;
        color: red;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <form asp-controller="EventDish" asp-action="AddEditEventDish" method="post" id="eventDishForm" enctype="multipart/form-data">
            <div class="form-group">
                <label>Events</label>         
                @Html.DropDownListFor(m => m.EventId, (IEnumerable<SelectListItem>)ViewData["AgapeEvents"], "Please select", new { @onchange = "GetSelectedEvent(this)" })
                <br />
                @Html.ValidationMessageFor(m => m.EventId, "", new { @class = "text-danger" })
            </div>
            <div class="container" id="eventContainer" style="display:none;">
                 <div class="row mt-2">
                    <div class="col-sm-6">
                        <div class="form-group form-group-small">
                            <label>@selectedEvent.Title</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group form-group-small">
                            <label>@selectedEvent.Description</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group form-group-small">
                            <label>@selectedEvent.Location</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group form-group-small">
                            <label>@selectedEventDate @selectedEvent.StartTime - @selectedEvent.EndTime</label>
                        </div>
                    </div>
                </div>
				@*<div class="row">
                    <div class="col-sm-6">
                        <div class="form-group form-group-small">
                            <label>@selectedEvent.ContactEmail</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group form-group-small">
                            <label>@Model.GetCategoryName(selectedEvent.CategoryId)</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group form-group-small">
                            <label>Sandwich Slots: @selectedEvent.SandwichSlots</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group form-group-small">
                            <label>Side Dish Slots: @selectedEvent.SideDishSlots</label>
                        </div>
                    </div>                    
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group form-group-small">
                            <label>Main Dish Slots: @selectedEvent.MainDishSlots</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group form-group-small">
                            <label>Dessert Slots: @selectedEvent.DessertSlots</label>
                        </div>
                    </div>                                   
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group form-group-small">
                            <label>Set Up Slots: @selectedEvent.SetUpSlots</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group form-group-small">
                            <label>Serve Slots: @selectedEvent.ServeSlots</label>
                        </div>
                    </div>                                  
                </div>
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <div class="form-group form-group-small">
                            <label>Clean Up Slots: @selectedEvent.CleanUpSlots</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group form-group-small">
                            <label>&nbsp;</label>
                        </div>
                    </div>                    
                </div>*@
            </div>            
            <div class="form-group">
                <label asp-for="Title">Title</label>
                <input asp-for="Title" class="form-control" placeholder="Dish name" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description">Description</label>
                <input asp-for="Description" class="form-control" placeholder="Dish description">
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <label asp-for="ContactEmail">Email</label>
                <input asp-for="ContactEmail" class="form-control" placeholder="Contact Email" />
                <span asp-validation-for="ContactEmail" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <label asp-for="Category">Category</label>
                <input asp-for="Category" readonly class="form-control" placeholder="" value="@Model.GetCategoryName(selectedEvent.CategoryId)" />
            </div>           
            <div class="form-group my-2">
                <div class="row">
                    <div class="col-md-6">
                        <label class="label-slots-2" asp-for="SandwichSlot">Sandwich</label>
                        <input asp-for="SandwichSlot" class="text-slots" min="0" step="any" type="number" onchange="CheckEventSlot(this)">
                        <span class="text-small">@sandwichSlots left</span>
                    </div>
                    <div class="col-md-6">
                        <label class="label-slots-2" asp-for="SideDishSlot">Side Dish</label>
                        <input asp-for="SideDishSlot" class="text-slots" min="0" step="any" type="number" onchange="CheckEventSlot(this)">
                        <span class="text-small">@sideDishSlots left</span>
                    </div>                                   
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="label-slots-2" asp-for="MainDishSlot">Main Dish</label>
                        <input asp-for="MainDishSlot" class="text-slots" min="0" step="any" type="number" onchange="CheckEventSlot(this)">
                        <span class="text-small">@mainDishSlots left</span>
                    </div>
                    <div class="col-md-6">
                        <label class="label-slots-2" asp-for="DessertSlot">Dessert</label>
                        <input asp-for="DessertSlot" class="text-slots" min="0" step="any" type="number" onchange="CheckEventSlot(this)">
                        <span class="text-small">@dessertSlots left</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="label-slots-2" asp-for="SetUpSlot">Set Up</label>
                        <input asp-for="SetUpSlot" class="text-slots" min="0" step="any" type="number" onchange="CheckEventSlot(this)">
                        <span class="text-small">@setupSlots left</span>
                    </div>
                    <div class="col-md-6">
                        <label class="label-slots-2" asp-for="ServeSlot">Serve</label>
                        <input asp-for="ServeSlot" class="text-slots" min="0" step="any" type="number" onchange="CheckEventSlot(this)">
                        <span class="text-small">@serveSlots left</span>
                    </div>                   
                </div>
                <div class="row">                    
                    <div class="col-md-6">
                        <label class="label-slots-2" asp-for="CleanUpSlot">Clean Up</label>
                        <input asp-for="CleanUpSlot" class="text-slots" min="0" step="any" type="number" onchange="CheckEventSlot(this)">
                        <span class="text-small">@cleanUpSlots left</span>
                    </div>
                </div>
            </div>
            <div class="form-group my-2">
                <label asp-for="Notes">Notes</label>
                <textarea asp-for="Notes" rows="3" class="form-control" placeholder="(Special instructions, ingredients, allergies, etc.)."></textarea>
            </div>
            <div id="upload" class="form-group my-2">
                <div class="row">
                    <div class="col-md-12 text-center">                        
                        <label class="btn btn-default btn-file">
                            Select Image File <input type="file" name="Upload" style="display:none;" />
                        </label>
                    </div>                   
                </div>
                <div class="row">                   
                    <div class="col-md-12 text-center">                       
                        <button type="submit" id="eventDishSaveBtn" class="btn btn-submitEvent" onclick="checkHasInvalidSlot()">Submit</button>
                    </div>
                </div>
            </div>
            <div class="form-group" style="display:none;">
                <input asp-for="Id" class="form-control" />
                <input asp-for="EventId" class="form-control" value="@selectedEvent.Id" />              
                <input asp-for="ImageUrl" class="form-control"  />
                <input asp-for="HasInvalidSlot" class="form-control" />
                <input asp-for="Category" class="form-control" value="@Model.GetCategoryName(selectedEvent.CategoryId)" />
            </div>            
        </form>
    </div>
</div>
<script>
    $(function () {
        if ($("#EventId").val() != "") {
            $("#eventContainer").show();
        }
    });
</script>

                        