@model Agape316.Models.MealDeliveryModel
@using Agape316.Data

@{
    var selectedMealSchedule = ViewData["SelectedMealSchedule"] as MealSchedule;
    var startDate = string.Empty;
    var endDate = string.Empty;
    var selectedDate = string.Empty;
    if (selectedMealSchedule == null)
    {
        selectedMealSchedule = new MealSchedule();
    } 
    else
    {
        startDate = selectedMealSchedule.StartDate.ToShortDateString();
        endDate = selectedMealSchedule.EndDate.ToShortDateString();
    }    
}

<div class="row">
    <div class="col-md-12">
        <form asp-controller="MealDelivery" asp-action="AddEditMealDelivery" method="post" id="mealDeliveryForm">
            <div class="row my-2">
                <div class="form-group">
                    <label>Meal Schedules</label>
                    @Html.DropDownListFor(m => m.ScheduleId, (IEnumerable<SelectListItem>)ViewData["MealSchedules"], "Please select", new { @onchange = "GetSelectedSchedule(this)" })
                    <br />
                    @Html.ValidationMessageFor(m => m.ScheduleId, "", new { @class = "text-danger" })
                </div>
            </div>            
            <div class="container" id="scheduleContainer" style="display:none;">
                <div class="row mt-2">
                    <div class="col-sm-6">
                        <div class="form-group form-group-small">
                            <label>@selectedMealSchedule.Title</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group form-group-small">
                            <label>@selectedMealSchedule.Description</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group form-group-small">
                            <label>@selectedMealSchedule.Coordinator</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group form-group-small">
                            <label>@selectedMealSchedule.CoordEmail</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group form-group-small">
                            <label>@selectedMealSchedule.CoordPhone</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group form-group-small">
                            <label>@selectedMealSchedule.StartDate.ToShortDateString() - @selectedMealSchedule.EndDate.ToShortDateString()</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group form-group-small">
                            <label>@selectedMealSchedule.RecipientInfo</label>
                        </div>
                    </div>                    
                </div>               
            </div>
            <div class="form-group">
                <label asp-for="FirstName">First Name</label>
                <input asp-for="FirstName" class="form-control" placeholder="First Name">
                <span asp-validation-for="FirstName" id="valFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName">Last Name</label>
                <input asp-for="LastName" class="form-control" placeholder="Last Name">
                <span asp-validation-for="LastName" id="valLastName"  class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email">Email</label>
                <input asp-for="Email" class="form-control" placeholder="Email" />                
            </div>
            <div class="form-group">
                <label asp-for="Phone">Phone</label>
                <input asp-for="Phone" class="form-control" placeholder="Phone (optional)" />
            </div>           
            <div class="form-group">
                <label asp-for="DeliveryDate">Delivery Date</label>
                <input asp-for="DeliveryDate" class="form-control" placeholder="Delivery Date" onchange="updateDeliveryDateStr(this)"/>
                <span asp-validation-for="DeliveryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryTime">Delivery Time</label>
                <input asp-for="DeliveryTime" class="form-control" placeholder="Delivery Time" />
                <span asp-validation-for="DeliveryTime" id="valDeliveryTime"  class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="Notes">Notes</label>
                <textarea asp-for="Notes" rows="3" class="form-control" placeholder="(Special instructions, info, etc.)."></textarea>
            </div>
            <div class="form-group my-2">                
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button type="submit" id="mealDeliverySaveBtn" class="btn btn-submitEvent" onclick="validateDeliveryDate();">Submit</button>
                    </div>
                </div>
            </div>
            <div class="form-group" style="display:none;">
                <input asp-for="Id" class="form-control" />
                <input asp-for="ScheduleId" class="form-control" />
                <input value="@Model.DeliveryDateStr" class="form-control" id="deliveryDateStr" />
                <input value="@startDate" class="form-control" id="mealScheduleStart" />
                <input value="@endDate" class="form-control" id="mealScheduleEnd" />
            </div>            
        </form>
    </div>
</div>
                        