@using NonFactors.Mvc.Grid
@model IEnumerable<Agape316.Data.Event>

<style>
    tr.mvc-grid-headers {
        text-align: center;
    }
</style>
<div class="row">
    <div class="col-md-12">       
        @if (Model.Any())
        {
            @(
            Html
            .Grid(Model)
            .Build(columns =>
            {
                columns.Add(model => @Html.Raw(model.ImageUrlDisplay)).Titled("Photo");
                columns.Add(model => @Html.Raw(model.Title)).Titled("Title");
                columns.Add(model => @Html.Raw(model.Description)).Titled("Description");
                columns.Add(model => @Html.Raw(model.Location)).Titled("Location");
                columns.Add(model => @Html.Raw(Agape316.Helpers.EventHelpers.GetCategoryName(model.CategoryId))).Titled("Category");
                columns.Add(model => @Html.Raw(model.ContactLink)).Titled("Contact");
                columns.Add(model => @Html.Raw($"{model.EventDate.ToShortDateString()} {Agape316.Helpers.EventHelpers.GetStandardTimeFromMilitaryTime(model.StartTime)} - {Agape316.Helpers.EventHelpers.GetStandardTimeFromMilitaryTime(model.EndTime)}")).Titled("Date/Time");
                columns.Add(model => @Html.Raw($"Sandwich: {model.SandwichSlots} Side Dish: {model.SideDishSlots} Main Dish: {model.MainDishSlots} Dessert: {model.DessertSlots} Set Up: {model.SetUpSlots} Serve: {model.ServeSlots} Clean Up: {model.CleanUpSlots}")).Titled("Slots");                    
                columns.Add(model => @Html.Raw(model.Notes)).Titled("Notes");                        
                columns.Add(model => @Html.Raw(model.EditLink)).Titled("Edit");
                columns.Add(model => @Html.Raw(model.Id)).Hidden();
                columns.Add(model => @Html.Raw(model.ImageUrl)).Css("image-url-hidden");
            })
            .Attributed(new { id = "event-table" })
            .Empty("No data found")
            .Pageable(pager =>
            {
                pager.RowsPerPage = 6;
            })
            )
        }
        else
        {
            <div class="noPosts">
                <i class="material-icons md-72">question_answer</i>
                <h3>
                No Events have been created yet. <br />
                </h3>
            </div>
        }
    </div>    
</div>