@page
@model ProfileModel
@{
    ViewData["Title"] = "Profile";
}

@{
    Layout = "~/Areas/Identity/Pages/_GeneralLayout.cshtml";
}

<div class="container body-content">
	<div class="row sectionHeader">
		<div class="sectionHeading">
			User Profile
		</div>
		<!--You could have an isActive property on ApplicationUser 
			and use it to deactivate Users if necessary. Have a disable User
			button here. Like forum moderators and standard users.
			@if (User.IsInRole("Admin"))
		    {			
				<button>Deactivate User</button>
		    }
		-->
	</div>
	<div class="row my-2 py-2">
		<div class="col-md-3">
			<div class="profile-image-container">
				<img src="@Model.ProfileImageUrl" alt="Profile Image" height="300" width="300" />
			</div>
		</div>
		<div class="col-md-9 text-left">	
			Username: @Model.FullName 
			@if (@Model.IsAdmin)
			{
				<span class="isAdmin">(Admin)</span>
			}
			<br />
			Email: @Model.Email
			<br />
			Member Since: @Model.MemberSince			
		</div>		
	</div>
	<div class="row">
		<div class="col-12 text-center">
			@if (User?.Identity?.Name == Model.Email)
			{
				<form method="post" id="uploadForm" enctype="multipart/form-data" asp-area="Identity" asp-page="/Account/Profile">
					<div id="upload">
						<label class="btn btn-primary">
							Upload Profile Image <input type="file" id="txtFile" name="Upload" style="display:none;" />
						</label>
					</div>
					<div class="mt-2">
						<button type="submit" id="btn-profile" onclick="checkFile('Profile')" class="btn btn-secondary">
							Submit
						</button>
					</div>
				</form>
			}
		</div>
	</div>
</div>
